@import "mixin";


$white                 : #ffffff;
$accent                : #7a58d0;
$grey                  : #c1c1c1;
$black                 : #282529;
$grey_light            : #f8f8f9;

$font_size_desktop_xs  : 14px;
$font_size_desktop_s   : 16px;
$font_size_desktop_m   : 20px;
$font_size_desktop_l   : 24px;
$font_size_desktop_lg  : 30px;
$font_size_desktop_xl  : 40px;
$font_size_desktop_xxl : 56px;

$font_size_mobile_xs   : 10px;
$font_size_mobile_s    : 12px;
$font_size_mobile_m    : 14px;
$font_size_mobile_l    : 16px;
$font_size_mobile_xl   : 20px;
$font_size_mobile_xxl  : 24px;


@mixin font_size_xs {
  font-size : $font_size_desktop_xs;
  @include customBreakpointSize(480px) {
	font-size : $font_size_mobile_s;
  }
}

@mixin font_size_s {
  font-size : $font_size_desktop_s;
  @include customBreakpointSize(480px) {
	font-size : $font_size_mobile_s;
  }
}

@mixin font_size_m {
  font-size : $font_size_desktop_m;
  @include customBreakpointSize(480px) {
	font-size : $font_size_mobile_m;
  }
}

@mixin font_size_ml {
  font-size : $font_size_desktop_m;
  @include customBreakpointSize(480px) {
	font-size : $font_size_mobile_l;
  }
}

@mixin font_size_l {
  font-size : $font_size_desktop_l;
  @include customBreakpointSize(480px) {
	font-size : $font_size_mobile_l;
  }
}

@mixin font_size_lg {
  font-size : $font_size_desktop_lg;
  @include customBreakpointSize(480px) {
	font-size : $font_size_mobile_xxl;
  }
}

@mixin font_size_xl {
  font-size : $font_size_desktop_xl;
  @include customBreakpointSize(480px) {
	font-size : $font_size_mobile_xxl;
  }
}