@import "styles/flex";
@import "styles/mixin";
@import "styles/vars";

.wrapper {
  background : $grey_light;
  width      : 100%;
  @include flex-column;
  gap        : 10px;

  .container {
	margin-top: 60px;
	padding    : 0 100px;
	background : $grey_light;
	@include customBreakpointSize(1300px){
	  padding    : 0 40px;
	}
	@include customBreakpointSize(422px){
	  padding: 10px;
	}
  }
}